@charset "utf-8";

body, h1, h2, h3, h4, ul, li, p, main, aside, footer, header {margin:0px; padding:0px;}
li {list-style: none;}
header nav li {
	float:left;
	width:80px;
	height:53px;
	border-left: 1px solid #666;
	text-align:center;
	padding-top:27px;
	cursor:pointer;
	}
header nav li:hover {
	background:#fff;
}

.news {
	width:100%;
	height:500px;
	background: url(../images/img2.daumcdn.net.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	position: relative;
	}
.news input{
	width:500px;
	padding:20px;
	border-radius:30px;
	background:url(../images/ico_search.png);
	background-color:#fff;
	background-repeat:no-repeat;
	background-size:30px;
	background-position: center right 20px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-25px;
}

footer {
	text-align: center; 
	background: #aaa; 
	padding: 50px 0
}








