@charset "utf-8";

body, h1, h2, h3, h4, h5, ul, li, p, main, aside, footer, header, section, img {margin:0px; padding:0px; }
li {list-style: none;}

.no-select {border-radius:4px; width:20px; height:8px; background:#ccc; float:left; margin:4px 5px 0 5px;}

.menu li {
    width:70px;
    margin:0 28px;
    text-align:center;
    font-size:14px;
    line-height:2em;
    display:inline-block}
.menu li a {
    text-decoration:none;
    color:#999}

.product-list h3 {
    font-size:24px;
    margin-bottom:50px;}
.product-list article {
    width:340px;
    margin:0 10px 100px 10px; display:inline-block;}
	
.main-menu li {
	display:inline-block;
	}
.main-menu li a{
	display:block;
	padding:20px 13px;
	font-size:14px;
	text-decoration:none;
	color:#666;
	}
	
.img-list li {
	margin-bottom:1px;
}
.photo-review li {
	display:inline-block; margin: 0 3px;
}
	
.price th { text-align:left; padding:10px 0; width:120px;}
.price_tit, .price_price {font-size:12px; color:#999}
.sale_tit, .sale_price {font-size:14px; color:#099}
	
	
	
	
	
	
	
	
	
	
	
	